<h1>Category</h1>
<div class="row">	
	<div class="span6">
		<h2><%= category_name.upcase %></h2>
			<%= erb :_idea_list, locals: {category_name: category_name, ideas: IdeaStore.category_ideas(category_name)} %>
	</div>
</div>