<form action="/<%= idea.id %>" method="POST">
  <p>
  	<% if idea.id %>
	    <h2>Edit this Idea</h2>
    <% else %>
    	<h2>Your Idea</h2>
    <% end %>
  </p>
  <% if idea.id %>
	  <input type="hidden" name="_method" value="PUT" />
	  <% end %>
  <input type="text" class="form-control" name="idea[title]" value="<%= idea.title %>" /> </br>
  <textarea class="form-control" rows="5" name="idea[description]"><%= idea.description %></textarea></br>
  <select name='idea[category]' class="form-control">
          <option value="default" disabled selected>Select a category</option>
          <option value="work">Work</option>
          <option value="personal">Personal</option>
          <option value="dinner">Dinner</option>
        </select></br>
  <input type='text' class="form-control" name='idea[tags]' value="<%= idea.tags.join(",") %>" /><br/>
  <input type='submit' class="btn btn-default"/>
</form>