<h1>Tagged Ideas</h1>
<div class="row">	
	<div class="span6">
		<h2><%= tag_name.upcase %> Ideas</h2>
			<%= erb :_idea_list, locals: {tag_name: tag_name, ideas: IdeaStore.tag_ideas(tag_name)} %>
	</div>
</div>